# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

<IfModule mod_expires.c>
        ExpiresActive on
        ExpiresByType image/gif "access plus 1 days"
        ExpiresByType image/jpeg "access plus 1 days"
        ExpiresByType image/png "access plus 1 days"
        ExpiresByType text/css "access plus 1 days"
        ExpiresByType text/js "access plus 1 days"
        ExpiresByType text/javascript "access plus 1 days"
        ExpiresByType application/javascript "access plus 1 days"
        ExpiresByType application/x-javascript "access plus 1 days"
        #ExpiresDefault "access plus 1 days"
</IfModule>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system|data)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
