body { background-color: #4D0202; /* background: #f0f0f0 url('/static/images/ci-logo-trans.png') no-repeat fixed 5px 80px; */ font-family: "Trebuchet MS", Arial, Serif;
 	font-size: 14px; color: #333; }

/** Header **/
#header { color: #fff; border-bottom: solid 15px #4D0202; padding: 15px 0 10px 0;
	background: #333 url(../images/ci-logo-trans.png) no-repeat fixed 315px -250px; }

#header h1 { font-size: 38px; float: left; padding-bottom: 5px; background: url('/static/images/ci_logo_flame_trans.png') top left no-repeat; 
	padding-left: 45px; padding-top: 1px; text-shadow: 1px 1px 3px #111; }
#header h1 a { color: #fff; text-decoration: none; }

#header div.spark-count { float: right; }
#header div.spark-count p { margin: 0; font-size: 20px; font-weight: bold; }
#header div.spark-count p a { display: inline-block; background-color: #4D0202; 
	text-decoration: none; color: #fff; font-weight: normal; padding: 13px 20px; border: solid 1px #f0f0f0; 
	-moz-border-radius: 5px; border-radius: 5px; margin-left: 10px; -moz-box-shadow: 1px 1px 2px #000; font-size: 20px; }

/** Page **/
#page { background-color: #f0f0f0; }
#page h2, #page h3, #page p { margin-bottom: 15px; }
#page h2 { font-size: 24px; color: #4D0202; }
#page h3 { font-size: 18px; color: #4D0202; }
#page p { line-height: 1.4em; }
#page a { color: #0000CC; text-decoration: none; }
#page a:hover { text-decoration: underline; }

/** Page - Left Column **/
#page div.page-left, #page div.page-right { float: left; }
#page div.page-left { width: 250px; margin-right: 20px; }
#page div.page-left div.login-box, #page div.page-left div.info-box { background-color: #4D0202; -moz-border-radius: 0 0 5px 5px; 
	border-radius: 0 0 5px 5px; padding: 0 15px 15px 15px; margin-bottom: 10px; color: #fff; }
#page div.page-left div.login-box { padding-top: 5px;}
#page div.page-left div.info-box { font-size: 12px; -moz-border-radius: 5px; border-radius: 5px; padding: 15px; }
#page div.page-left div.login-box label, #page div.page-left div.login-box input { float: left; }
#page div.page-left div.login-box label { color: #fff; font-size: 12px; margin-bottom: 4px; }
#page div.page-left div.login-box input.text-box { width: 207px; border: solid 1px #333; margin-bottom: 6px; padding: 4px; font-size: 12px;
	border-radius: 5px; -moz-border-radius: 5px; }
#page div.page-left div.login-box input.submit { background-color: #822525; color: #fff; font-weight: normal; font-size: 11px; border: solid 1px #461515;
	padding: 3px 10px 4px 10px; border-radius: 5px; -moz-border-radius: 5px; }
	
#page div.page-left div.info-box h2 { color: #fff; margin-bottom: 10px; font-size: 20px; border-bottom: solid 1px #7d2626;
	padding-bottom: 10px; }
#page div.page-left div.info-box p { line-height: 1.4em; margin: 0; }

#page div.page-left div.info-box ul li { color: #c0c0c0; padding-bottom: 10px; margin-bottom: 10px; 
	border-bottom: solid 1px #7d2626; }
#page div.page-left div.info-box ul li.last { padding: 0; margin: 0; border: 0; text-align: center; }
#page div.page-left div.info-box ul li img { float: left; padding: 0 10px 5px 0; }
#page div.page-left div.info-box ul li a { color: #fff; }

#page div.page-right { width: 730px; padding: 20px 0 5px 0; }

#page div.code { font-family: Monaco, Verdana, Sans-serif; font-size: 12px; background-color: #f9f9f9;
	border: 1px solid #D0D0D0; color: #002166; display: block; margin: 15px 0 15px 0; padding: 12px 10px 12px 10px; }

#footer { border-top: solid 3px #333; font-size: 12px; color: #fff; padding-top: 10px; }
#footer p { text-align: center; margin-bottom: 10px; }
#footer p a { color: #fff; text-decoration: none; }
#footer p a:hover { text-decoration: underline; }

div.wrapper { width: 1000px; margin: 0 auto; }