body { background-color: #4D0202; /* background: #f0f0f0 url('/static/images/ci-logo-trans.png') no-repeat fixed 5px 80px; */ font-family: "Trebuchet MS", Arial, Serif;
 	font-size: 14px; color: #333; }

#header { background-color: #333; color: #fff; border-bottom: solid 15px #4D0202; padding: 15px 0 10px 0; }

#header h1 { font-size: 32px; float: left; padding-bottom: 5px; background: url('/static/images/ci_logo_flame_trans.png') top left no-repeat; 
	padding-left: 40px; padding-top: 3px; }
#header h1 a { color: #fff; text-decoration: none; }
#header span.desc { float: left; color: #999; font-style: italic; font-size: 12px; margin-top: 14px; margin-left: 10px; }

#header dl { float: right; margin-top: 5px; }
#header dl dd { float: left; }
#header dl dd a { color: #fff; padding: 8px 15px; display: inline-block; text-decoration: none; -moz-border-radius: 5px; 
	border-radius: 5px; margin-left: 7px; background-color: #555; }
#header dl dd a.active, #header dl dd a:hover { background-color: #111; }

#page { background-color: #f0f0f0; padding: 40px 0 25px 0; }
#page h2, #page h3, #page p { margin-bottom: 15px; }
#page h2 { font-size: 24px; color: #4D0202; }
#page h3 { font-size: 18px; color: #4D0202; }
#page p { line-height: 1.3em; }

#footer { border-top: solid 5px #333; font-size: 12px; color: #fff; padding-top: 10px; }
#footer p { text-align: center; margin-bottom: 10px; }
#footer p a { color: #fff; text-decoration: none; }
#footer p a:hover { text-decoration: underline; }

div.wrapper { width: 1000px; margin: 0 auto; }