body { background-color: #4D0202; /* background: #f0f0f0 url('/static/images/ci-logo-trans.png') no-repeat fixed 5px 80px; */ font-family: "Trebuchet MS", Arial, Serif;
 	font-size: 14px; color: #333; }

/** Header **/
#header { color: #fff; border-bottom: solid 0 #4D0202; background-color: #333; }

#header h1 { font-size: 38px; float: left; padding-bottom: 5px; background: url('/static/images/ci_logo_flame_trans.png') top left no-repeat; 
	padding-left: 45px; padding-top: 1px; text-shadow: 1px 1px 3px #111; }
#header h1 a { color: #fff; text-decoration: none; }

#header div.spark-count { float: right; }
#header div.spark-count p { margin: 0; font-size: 20px; font-weight: bold; }
#header div.spark-count p a { display: inline-block; background-color: #d14000; 
	text-decoration: none; color: #fff; font-weight: normal; padding: 13px 20px; border: solid 1px #f0f0f0; 
	-moz-border-radius: 5px; border-radius: 5px; margin-left: 10px; -moz-box-shadow: 1px 1px 2px #000; font-size: 20px; }
	
#header div.nav { background-color: #4D0202; }
#header div.nav dl {  }
#header div.nav dl dd { float: left; }
#header div.nav dl dd a { display: inline-block; color: #fff; text-decoration: none; padding: 10px 10px 11px 10px;
	text-shadow: 1px 1px 3px #111; }
#header div.nav dl dd a:hover, #header div.nav dl dd a.active { background-color: #d14000; }
	
#header div.header-wrapper { padding: 15px 0 10px 0; background: #333 url('/static/images/ci-logo-trans.png') 175px -250px no-repeat; }

/** Page **/
#page { background-color: #f0f0f0; }
#page h2, #page h3, #page h4, #page h5, #page p { margin-bottom: 15px; }
#page h2 { font-size: 24px; color: #4D0202; padding-bottom: 10px; border-bottom: solid 1px #7d2626; }
#page h3 { font-size: 18px; color: #4D0202; }
#page h4 { font-size: 16px; color: #4D0202; }
#page h5 { font-size: 14px; color: #4D0202; }
#page p { line-height: 1.4em; }
#page a { color: #0000CC; text-decoration: none; }
#page a:hover { text-decoration: underline; }
#page ol { margin-bottom: 15px; }
#page ol li { margin-left: 35px; list-style-type: decimal; margin-bottom: 5px; }

/** Page - Left Column **/
#page div.page-left, #page div.page-right { float: left; }
#page div.page-left { width: 250px; margin-right: 20px; }
#page div.page-left div.login-box, #page div.page-left div.info-box { background-color: #4D0202; -moz-border-radius: 0 0 5px 5px; 
	border-radius: 0 0 5px 5px; padding: 0 15px 15px 15px; margin-bottom: 10px; color: #fff; }
#page div.page-left div.login-box { padding-top: 5px;}

#page div.page-left div.info-box { font-size: 12px; -moz-border-radius: 5px; border-radius: 5px; padding: 15px; }
#page div.page-left div.login-box label, #page div.page-left div.login-box input { float: left; }
#page div.page-left div.login-box label { color: #fff; font-size: 12px; margin-bottom: 5px; }
#page div.page-left div.login-box input.text-box, #page div.page-right div#mainsearch input.text-box, #header form#headersearch input.text-box { width: 207px; border: solid 1px #333; margin-bottom: 7px; padding: 4px; font-size: 12px;
	border-radius: 5px; -moz-border-radius: 5px; }
#header form#headersearch input.text-box { width: 150px; margin: 5px; }
#page div.page-left div.login-box input.submit, #page div.page-right div#mainsearch input.submit, #header form#headersearch input.submit, #page div.page-left div.login-box a.register { background-color: #d14000;
	color: #fff; font-weight: normal; font-size: 12px; border: solid 1px #f0f0f0; display: inline-block; 
	padding: 3px 10px; border-radius: 5px; -moz-border-radius: 5px; }
#header form#headersearch input.submit { margin-top: 5px; }
#page div.page-left div.login-box a.register { padding: 5px 10px 7px 10px; float: right; margin-right: 5px; }

#page div.page-left div.login-box div.profile-image { float: left; margin-right: 10px; }
#page div.page-left div.login-box div.profile-links { float: left; width: 130px; }
#page div.page-left div.login-box div.profile-links a { color: #fff; font-size: 12px; }
#page div.page-left div.login-box div.profile-links dl dd { margin-bottom: 3px; padding-bottom: 3px; 
	border-bottom: dashed 1px #7d2626; display: block; overflow: hidden; }
#page div.page-left div.login-box div.profile-links dl dd.last { margin-bottom: 0; padding-bottom: 0; border-bottom: 0; }
	
#page div.page-left div.info-box h2 { color: #fff; margin-bottom: 10px; font-size: 20px; border-bottom: solid 1px #7d2626;
	padding-bottom: 10px; }
#page div.page-left div.info-box p { line-height: 1.4em; }
#page div.page-left div.info-box p.no-margin { margin: 0; }

#page div.page-left div.info-box ul li, #page div.page-right ul li { color: #fff; padding-bottom: 10px; margin-bottom: 10px; 
	border-bottom: solid 1px #7d2626; }

#page div.page-right div#mainsearch {display: block; margin: 10px 0}
#page div.page-right div#mainsearch label {font-weight: bold;}

#page div.page-right ul li { color: #333; border-bottom: dashed 1px #7d2626; }
#page div.page-left div.info-box ul li.last, #page div.page-right ul li.last { padding: 0; margin: 0; border: 0; text-align: center; }
#page div.page-left div.info-box ul li img, #page div.page-right ul li img { float: left; padding: 0 10px 5px 0; }
#page div.page-left div.info-box ul li a { color: #fff; }

#page div.page-right { width: 730px; padding: 20px 0 20px 0; }

#page div.page-right div.left-col, #page div.page-right div.right-col { width: 355px; float: left; }
#page div.page-right div.left-col { margin-right: 20px; }

#page div.page-right table tbody tr td { padding-bottom: 4px; padding-right: 2px; }

#page div.page-right ul#sparklisting { display: block; }
#page div.page-right ul#sparklisting li { border-width: 1px 0px 0px 0px; border-top: 1px dotted #7d2626; list-style: none; overflow: hidden; padding: 10px 0px; }
#page div.page-right ul#sparklisting li div.sparkinfo .title { font-size: 18px; color: #333377; }
#page div.page-right ul#sparklisting li div.sparkinfo .summary .official { color: green; }
#page div.page-right ul#sparklisting li div.sparkinfo .summary { margin-top: 10px; color: #333; }

div.ratings { float: right; text-align: right; }
div.ratings .installcount { padding: 2px 5px; background: #777; color: #fff; font-size: 12px; display: inline-block; margin-left: 5px; border: 1px solid #333; margin-top: 5px; }
div.ratings .rating { display: inline-block; border: 1px solid #333; margin-left: 5px; background: #d14000; font-size: 14px; }
div.ratings .rating label { background: #fff; padding: 3px 5px; display: inline-block; color: #000; }
div.ratings .rating span { color: #fff; padding: 0px 5px; display: inline-block; color: #fff; }
div.ratings .rating.selected label { background: #d14000 !important; color: #eee; }
div.ratings a.rating:hover label { background: #ddd; cursor: hand; cursor: pointer; }

#page div.code, #page code, #page pre { font-family: Monaco, Verdana, Sans-serif; font-size: 12px; background-color: #f9f9f9;
	border: 1px solid #D0D0D0; color: #002166; display: block; margin: 15px 0 15px 0; padding: 12px 10px 12px 10px; }

#page pre {
    line-height: 1.4;
}

#page small { font-size: 12px; }

/* Form */
div.form-wrapper label, input { float: left; }
div.form-wrapper label { font-weight: bold; margin-bottom: 5px; }
div.form-wrapper input.text-box, div.form-wrapper textarea, div.form-wrapper select.drop-down { width: 400px; 
	border: solid 1px #999; font-size: 12px; padding: 5px; margin-bottom: 10px; }
div.form-wrapper textarea { height: 175px; }
div.form-wrapper select.drop-down { width: 411px; }
div.form-wrapper select.drop-down-small { width: 150px; }
div.form-wrapper input.button { font-size: 12px; border: solid 1px #333; background-color: #4D0202; padding: 4px 10px 5px 10px; 
	font-weight: bold; color: #fff; -moz-border-radius: 5px; border-radius: 5px; margin-top: 5px; }
	
div.form-wrapper span.helper { color: #999; font-size: 12px; font-style: italic; float: left; margin-bottom: 10px; margin-top: -5px; }
	
div.form-wrapper-full input.text-box, 
	div.form-wrapper-full textarea { width: 718px; }

/* ## Success Message ## */
#page div.message-success { padding: 5px 10px; background-color: #18c74a; margin-bottom: 15px; }
#page div.message-success p { font-size: 1.1em; font-weight: bold; color: #fff; margin: 0; }

/* ## Error Message ## */
#page div.message-error { padding: 5px; background-color: #ef6464; margin-bottom: 15px; }
#page div.message-error p { font-size: 1.1em; font-weight: bold; color: #fff; margin: 0; }

#footer { border-top: solid 3px #333; font-size: 12px; color: #fff; padding-top: 10px; }
#footer p { text-align: center; margin-bottom: 10px; }
#footer p a { color: #fff; text-decoration: none; }
#footer p a:hover { text-decoration: underline; }

div.wrapper { width: 1000px; margin: 0 auto; }
.no-border { border: none !important; }

span.superscript { font-size:14px; vertical-align: super; }

#documentation { border: 1px dotted #808080; padding: 10px 10px 0px 10px; margin: 10px 0px 10px 0px; overflow: auto;}
#documentation h1 { font-size: 18px; border: none; padding-bottom: 10px; }
#documentation h2 { font-size: 14px ; border: none ; margin-bottom: 5px ; }
#documentation h3 { font-size: 10px; font-weight: bold; }
#documentation p  { }
#documentation ul  { list-style:circle inside; padding-left: 25px;}
#documentation ul li { border: none !important; padding: 0 !important; }
#documentation code { margin: 0; white-space: pre; line-height: 1.5; padding: 0 !important; border: none !important; }
#documentation pre { margin: 0 0 10px 0 !important; }
/* Sizing the profile box as close to the actual size as possible so it doesn't
   flash when loaded via ajax */
#lazy_profile { min-height: 82px; }
#lazy_profile a {float:right; color: #fff;}
#disqus_thread ul li { border: none !important; padding: 0 !important; }
